fonttools/*
weekly_challenges copy.log
weekly_challenges copy.tex
weekly_challenges_base.log
weekly_challenges_base.pdf
weekly_challenges_base.tex
weekly_challenges.aux
weekly_challenges.log
weekly_challenges.pdf
weekly_challenges.tex
GA_icon.pdf
GA_logo.pdf
*.png
*.jpg
*.jpeg
*.pyc
*.synctex.gz
*.code-workspace
*.txt
*.temp