ambigram_announcement.png
ambigram_first.png
ambigram_poll.png
ambigram_suggestions.png
fontdata.json
fonttools.py
generate_image.py
glyph_announcement.png
glyph_first.png
glyph_poll.png
glyph_suggestions.png
utility.py
weekly_challenges copy.log
weekly_challenges copy.tex
weekly_challenges_base.log
weekly_challenges_base.pdf
weekly_challenges_base.tex
weekly_challenges.aux
weekly_challenges.log
weekly_challenges.pdf
weekly_challenges.tex
weekly_challenges.synctex.gz
__pycache__/fonttools.cpython-311.pyc
__pycache__/utility.cpython-311.pyc
Images/abf.png
Images/AltusCy.png
Images/Ambi_1.jpg
Images/Ambi_2.png
Images/Ambi_3.png
Images/AmbiWinnerFirst.png
Images/AmbiWinnerSecond.png
Images/AmbiWinnerThird.png
Images/Appelsaus.png
Images/Avnix.png
Images/bbbourq_rosa.png
Images/bbbourq.png
Images/Bismillah.png
Images/Bread the Rabbit.png
Images/bryanimator.png
Images/Cally.png
Images/Daniel Zat.png
Images/DM.png
Images/dorayuckie.png
Images/elly.png
Images/Fiddeou.png
Images/frij.png
Images/Friþuwulfaz.png
Images/GA_icon.pdf
Images/GA_logo.pdf
Images/GlyphWinnerFirst.png
Images/GlyphWinnerSecond.png
Images/GlyphWinnerThird.png
Images/goose.png
Images/Gooseberry.png
Images/Haydyn.png
Images/Imriaylde.png
Images/JEf.png
Images/Jeff Jefferson.png
Images/kikomas.png
Images/KineticNyxo.png
Images/Koksiroj.png
Images/kyunzi.png
Images/MatinTiroir.png
Images/mguy22703.png
Images/newhorizons.png
Images/noahh.png
Images/Nopke.png
Images/nu.png
Images/nyxbird.png
Images/Olantoska.png
Images/racca.png
Images/raz.png
Images/robhlogan.png
Images/Röde.png
Images/Sapun.png
Images/sasha_old.png
Images/sasha.png
Images/SeanDeeg.png
Images/Seems fishy.png
Images/soyy.png
Images/srjskam.png
Images/Sub_1.png
Images/Sub_2.jpg
Images/Sub_3.jpg
Images/Sub_4.png
Images/Sub_5.png
Images/ʃɔrɪk.png
Images/Toniak.png
Images/Vari.png
Images/WWMM.png
Images/Y Alpha.png
Images/τεμροαςςο.png
Images/粂川誠禰.png
Images/profile_pictures/doggo.png
Images/profile_pictures/nope.jpg
Images/profile_pictures/theuwuji.png
ambigram_second.png
ambigram_third.png
glyph_second.png
glyph_third.png
weekly_challenges.synctex.gz
Images/dogg.png
Images/nope.jpg
Images/theuwuji.png
Sample_Images/Ambi_1.jpg
sample_images/Ambi_1.jpg
Sample_Images/Ambi_2.png
sample_images/Ambi_2.png
Sample_Images/Ambi_3.png
sample_images/Ambi_3.png
Sample_Images/AmbiWinnerFirst.png
sample_images/AmbiWinnerFirst.png
Sample_Images/AmbiWinnerSecond.png
sample_images/AmbiWinnerSecond.png
Sample_Images/AmbiWinnerThird.png
sample_images/AmbiWinnerThird.png
sample_images/dogg.png
Sample_Images/doggo.png
sample_images/GA_icon.pdf
sample_images/GA_logo.pdf
Sample_Images/GlyphWinnerFirst.png
sample_images/GlyphWinnerFirst.png
Sample_Images/GlyphWinnerSecond.png
sample_images/GlyphWinnerSecond.png
Sample_Images/GlyphWinnerThird.png
sample_images/GlyphWinnerThird.png
Sample_Images/nope.jpg
sample_images/nope.jpg
Sample_Images/Sub_1.png
sample_images/Sub_1.png
Sample_Images/Sub_2.jpg
sample_images/Sub_2.jpg
Sample_Images/Sub_3.jpg
sample_images/Sub_3.jpg
Sample_Images/Sub_4.png
sample_images/Sub_4.png
Sample_Images/Sub_5.png
sample_images/Sub_5.png
Sample_Images/the_uwuji.png
sample_images/theuwuji.png
output.png
WEEKLY CHALLENGES.code-workspace
weekly_challenges_base.synctex.gz
__pycache__/generate_image.cpython-311.pyc
Images/Glyph_1.png
Images/Glyph_2.jpg
Images/Glyph_3.jpg
Images/Glyph_4.png
Images/Glyph_5.png
Images/pfp/dogg.png
Images/pfp/nope.jpg
Images/pfp/the_uwuji.png
